<a href="https://colab.research.google.com/github/hiro106/colab_notebooks/blob/main/Exercise_Random_Forests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Recap

In [1]:
# Refer to...
# https://www.kaggle.com/code/scratchpad/notebook5d0021c7ba/edit

In [2]:
# Data fields:
# https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data

In [3]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [4]:
import pandas as pd

In [5]:
pd

In [6]:
from sklearn.metrics import mean_absolute_error

In [7]:
type(mean_absolute_error)

function

In [8]:
mean_absolute_error

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
train_test_split

In [11]:
type(train_test_split)

function

In [12]:
from sklearn.tree import DecisionTreeRegressor

In [13]:
DecisionTreeRegressor

sklearn.tree._classes.DecisionTreeRegressor

In [14]:
type(DecisionTreeRegressor)

abc.ABCMeta

In [15]:
iowa_file_path = '/drive/My Drive/Colab Notebooks/iowa_train.csv'

In [16]:
home_data = pd.read_csv(iowa_file_path)

In [17]:
home_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [18]:
home_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [19]:
home_data.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [20]:
y = home_data.SalePrice

In [21]:
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [22]:
type(y)

pandas.core.series.Series

In [23]:
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF']

In [24]:
X = home_data[features]

In [25]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

In [26]:
train_X.shape

(1095, 4)

In [27]:
val_X.shape

(365, 4)

In [28]:
len(train_y)

1095

In [29]:
len(val_y)

365

In [30]:
iowa_model = DecisionTreeRegressor(random_state=1)

In [31]:
iowa_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [32]:
val_predictions = iowa_model.predict(val_X)

In [35]:
val_predictions

array([186500., 184000., 130000.,  92000., 148000., 235128., 345000.,
       144152., 215000., 262000., 157000., 104900., 175900., 190000.,
       251000., 127500., 100000., 155000., 157900., 156000., 148000.,
       265979., 193000., 372402., 100000., 165000., 119500., 206300.,
       451950., 155000., 133900.,  91500., 123000., 113000., 153000.,
       386250., 110000., 132000., 305000., 105000., 143000., 149700.,
       110000., 100000., 213000., 157000.,  79000., 193879., 265900.,
       274970., 151500., 475000.,  80000., 240000., 208300.,  91000.,
       120500., 162000., 135000., 187000., 180500., 340000., 129000.,
       124900., 180500., 118500., 132000., 230000., 134432., 153500.,
       129000., 135000., 325300., 177500., 155000., 202500., 168500.,
       108000., 285000., 193879., 190000., 140200., 134900., 143500.,
       213000., 143500., 149500., 190000., 175900., 165150., 250580.,
       165000., 120500., 151000., 123500., 114504., 120000., 120000.,
       148500., 148000., 190000., 130500., 132000., 120500.,  80000.,
       138887., 176432., 135900., 135000., 315750.,  95000., 145000.,
       140000., 181134., 227875., 189000., 265900., 119900., 223500.,
       171000., 140200., 279500., 315750., 136900., 299800., 162500.,
       395192.,  80000., 142953., 212000., 275500., 134800.,  84000.,
       118000.,  79000., 191000., 755000., 216837., 248000., 120000.,
       189950., 325000., 145000., 192500., 147000., 252000., 109000.,
       215000., 214900., 138500., 189000., 183900., 120500., 181000.,
       173000., 345000.,  67000., 149350.,  85000., 156000., 119000.,
        79900., 155000., 150500., 156000., 134000., 177000., 152000.,
       165500., 105000., 284000., 207000., 200000., 301500., 215200.,
       135000., 190000., 235000., 153900., 143000., 134500., 156932.,
       215000., 138500., 314813., 160000., 394617., 325300., 174500.,
       116500.,  88000., 153500.,  87450., 132500., 134800., 290000.,
       284000., 155000., 147000.,  86000., 185000., 200000., 180500.,
       213000., 319900., 128000., 194000., 446261., 256000., 280000.,
       186500., 107900., 155000., 151500., 245350., 253000., 130000.,
        92900., 190000.,  83500., 755000., 138500., 168500., 143000.,
       127000., 127500., 197000., 181000., 171900., 162000., 128000.,
       173000., 132000., 137450., 235128., 118964., 328000., 111000.,
       223500., 265000., 236500., 145000., 141000., 163000.,  84000.,
       118500., 140000., 152000., 110000., 141000., 123000., 130500.,
       173500., 165000., 125000., 120500., 179000.,  68500., 372402.,
       118500., 185000., 190000., 207500., 181000.,  98000., 205000.,
       141000.,  84000., 134000., 100000., 161750., 165600., 116000.,
       118500., 187000., 135000., 112000., 151500., 230000., 128000.,
       127000., 154000., 137500., 152000., 214000., 221000., 141000.,
       129000., 290000., 108000.,  96500., 310000., 122000.,  95000.,
       203000., 229000., 213000., 215000., 235000., 110000., 139000.,
       155000., 121500., 180000., 153337., 223000., 131400., 179900.,
       188000., 185000., 174900., 176000., 127000., 220000., 146000.,
       110000., 275000., 180500., 157000., 157000., 185900., 179900.,
       144000., 219500., 123000., 424870., 199900., 205000., 135000.,
       161000., 156000., 212000., 252678., 318000., 213000., 180000.,
       143750., 126500., 260000., 189000., 213250., 170000.,  79000.,
       221000., 109500., 138800., 165000., 149350., 233170., 105900.,
       155000., 176000., 395000., 149700., 147000., 180000., 226700.,
       176000., 111000., 325300., 134000., 188500., 155000., 285000.,
       187500.])

In [36]:
type(val_predictions)

numpy.ndarray

In [37]:
len(val_predictions)

365

In [38]:
val_mae = mean_absolute_error(val_predictions, val_y)

In [39]:
print("Validation MAE for best value of max_leaf_nodes: {:,.0f}".format(val_mae))

Validation MAE for best value of max_leaf_nodes: 28,915