<a href="https://colab.research.google.com/github/hiro106/colab_notebooks/blob/main/methods_tests_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# df.loc

In [24]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

In [25]:
import pandas as pd

In [26]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

In [27]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [28]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [29]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [30]:
df.loc['cobra', 'shield']

2

In [31]:
df.loc[df.max_speed == 4]

       max_speed  shield
viper          4       5

In [32]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [37]:
df.loc['cobra':'viper']

       max_speed  shield
cobra          1       2
viper          4       5

In [62]:
df.loc['cobra', 'shield']

2

In [63]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [75]:
# df.loc['shield']  -> KeyError: 'shield'

In [52]:
df2 = pd.DataFrame([['Japan', 'Asia', True], ['USA', 'America', False], ['China', 'Asia', True]],
     index=['Tokyo', 'LA', 'Beijing'],
     columns=['country', 'area', 'is_capital'])

In [66]:
df2

        country     area  is_capital
Tokyo     Japan     Asia        True
LA          USA  America       False
Beijing   China     Asia        True

In [56]:
type(df2)

pandas.core.frame.DataFrame

In [57]:
type(df2.loc)

pandas.core.indexing._LocIndexer

In [68]:
df2.loc['Tokyo']

country       Japan
area           Asia
is_capital     True
Name: Tokyo, dtype: object

In [69]:
df2.loc['Tokyo':'Beijing']

        country     area  is_capital
Tokyo     Japan     Asia        True
LA          USA  America       False
Beijing   China     Asia        True

In [70]:
df2.loc['LA':'Beijing']

        country     area  is_capital
LA          USA  America       False
Beijing   China     Asia        True

In [73]:
df2.loc['Beijing':'LA']  # Output nothing.

Empty DataFrame
Columns: [country, area, is_capital]
Index: []

In [ ]:
# Performance of df.loc and alternatives
# https://stackoverflow.com/questions/37757844/pandas-df-locz-x-y-how-to-improve-speed